<section class="info">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="p-5">
                <h3 class="text-white">{{ textH3 }}</h3>
                <p class="m-0 text-white">{{ textP }}</p>
                <span class="text-white">{{ textAdd }}</span>
              </div>
            </div>
      
            <div class="col-md-4">
              <div class="p-5">
                <h3 class="text-white">{{ textAdd2 }}</h3>
                <span class="fa-stack" style="vertical-align: top;">
                      <i class="fa-regular fa-circle fa-stack-2x text-white"></i>
                      <i class="fa-brands fa-facebook fa-stack-1x text-white"></i>
                    </span>
                    <span class="fa-stack" style="vertical-align: top;">
                      <i class="fa-regular fa-circle fa-stack-2x text-white"></i>
                      <i class="fa-brands fa-twitter fa-stack-1x text-white"></i>
                    </span>
                    <span class="fa-stack" style="vertical-align: top;">
                      <i class="fa-regular fa-circle fa-stack-2x text-white"></i>
                      <i class="fa-brands fa-linkedin fa-stack-1x text-white"></i>
                    </span>
                    <span class="fa-stack" style="vertical-align: top;">
                      <i class="fa-regular fa-circle fa-stack-2x text-white"></i>
                      <i class="fa-solid fa-globe fa-stack-1x text-white"></i>
                    </span>
                    
              </div>
            </div>
      
      
            <div class="col-md-4">
              <div class="p-5">
                <h3 class="text-white">{{ textAdd3 }}</h3>
                <p class="text-white">{{ info }}</p>
                
              </div>
            </div>
      
       </div>
        </div>
      </section>
