<section class="text-center">
  <div class="text p-5">
    <h1 class="bolder text-white">{{ textAdd }}</h1>
    <i class="fas fa-star p-2 text-white"></i>
  </div>
  <div class="container">
    <div class="row pb-5 pt-4">
      <div class="col-md-6">
        <div>
          <p class="text-white fs-5">
            {{ text }}
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <p class="text-white fs-5">
            {{ text }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
