<section>
        <nav class="navbar navbar-expand-lg navbar-light p-4">
          <div class="container-fluid">
            <a class="navbar-brand text-white fw-bolder" href="#">{{ address}}</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div
              class="collapse navbar-collapse justify-content-end"
              id="navbarNavAltMarkup"
            >
              <div class="navbar-nav">
                <a
                  class="nav-link active text-white fw-bolder bttn" routerLink="about"
                  
                  >ABOUT</a
                >
                <a class="nav-link text-white fw-bolder bttn" routerLink="portfolio" >PORTFOLIO</a>
                <a class="nav-link text-white fw-bolder bttn" routerLink="contact">CONTACT</a>
              </div>
            </div>
          </div>
        </nav>
      </section>