<section>
        <h1 class="text-center fw-bolder  pt-5 pb-2">{{add1}}</h1>
        <i class="fas fa-star p-2 text-center d-block pb-4"></i>
<div class="container">
        <div class="row gy-5 pb-5">
                <div class="col-md-4">
                        <div class="item">
                              <img class="w-100" [src]="img1" alt=""> 
                              <div class="layer ">
                                <i class="fas fa-plus "> </i>
                               </div> 
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="item">
                                
                                        <img class="w-100 " [src]="img2" alt=""> 
                               <div class="layer ">
                                <i class="fas fa-plus "> </i>
                               </div>
                               
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="item" >
                              <img class="w-100" [src]="img3" alt="">  
                              <div class="layer ">
                                <i class="fas fa-plus "> </i>
                               </div>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="item">
                              <img class="w-100" [src]="img1" alt="">  
                              <div class="layer ">
                                <i class="fas fa-plus "> </i>
                               </div>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="item">
                              <img class="w-100" [src]="img2" alt="">  
                              <div class="layer ">
                                <i class="fas fa-plus "> </i>
                               </div>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="item">
                              <img class="w-100" [src]="img3" alt="">  
                              <div class="layer ">
                                <i class="fas fa-plus "> </i>
                               </div>
                        </div>
                </div>
        </div>
</div>
</section>
